transition_time = 0.4s;
opacity = 0.6;
font_size = 18px;
body
  font: font_size "Century Gothic", Futura, sans-serif
  margin: 20px
  background-color: grey

ol,
ul
  padding-left: 80px
  padding-right: 80px


h1.titolo
  font-size: 300%
  margin-left: 28%

.status
  margin-bottom: 30px
  font-size: font_size

.button
    background-color: #fff;
    border: 1px solid #4caf50;
    color: #000;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  

.button:hover
    background-color: green
    color: white

.button:disabled
    opacity: opacity
    cursor: not-allowed
