l = 100px;
.square
  background: #fff
  border: 5x solid #000
  float: left
  font-size: 50px
  font-weight: bold
  line-height: 34px
  height: l
  margin-right: -1px
  margin-top: -1px
  padding: 0
  text-align: center
  width: l
  background-color: #fff

.square:focus
  outline: none

.kbd-navigation .square:focus
  background: #ddd
