body {
  font: 18px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #808080;
}
ol,
ul {
  padding-left: 80px;
  padding-right: 80px;
}
h1.titolo {
  font-size: 300%;
  margin-left: 28%;
}
.status {
  margin-bottom: 30px;
  font-size: 18px;
}
.button {
  background-color: #fff;
  border: 1px solid #4caf50;
  color: #000;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 9px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #008000;
  color: #fff;
}
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
